body {
    margin: 0;
    padding: 0;
    font-family: Georgia;
    background-color: black;
}

.container {
     width: 80%;
     margin: auto;
     display: flex;
}

.header {
    border-bottom: 3px solid rgb(95, 1, 95);
}

.título {
    color:rgb(95, 1, 95);
    font-weight: 500; /* serve para controlar a grossura da borda*/
}

.navbar{
    width: 400px;
    display: flex;
    color: aliceblue;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.header .container{
    justify-content: space-between;
}